body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #ececea;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 3.3333333333333335vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 3.3333333333333335vw;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  width: 45vw;
}
.game-board{
  /* width: 100vw; */
  margin-left: -50%;
}
.game-info {
  margin-right: 0px;
  margin-top: 30px;
  margin-bottom: -50px;
  color: crimson;
  position: relative;
}

.icons-attribution,
.game-status,
.fallen-soldier-block {
  margin-top: 20px;
  min-height: 50px;
  color: white;
}

.dark-square {
  background-color: red;
}

.light-square {
  background-color: green;
}

h3 {
  margin-bottom: 5px;
}
